* {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.painel {
    border: 1px solid #d4d2d2;
    padding: 1rem;
    border-radius: .5rem;
    width: 25rem;
    height: 22rem;
    margin: 1rem auto;
    box-shadow: .5rem .5rem .3rem .01rem #d4d2d2;
}

.cabecalho,
.corpo {
    background-color: #d4d2d2;
    padding: 1rem;
    color: #787373;
    font-weight: bolder;
    width: 23rem;
    border-radius: .5rem;
}

.cabecalho {
    height: 4rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.entrada {
    width: 7rem;
    text-align: center;
    border: none;
    border-radius: .5rem;
}

.corpo {
    height: 13rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}

#resp {
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    border: 1px green solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #3252e3;
    color: #dcdcde;
    border: none;
    padding: .2rem 1rem;
    border-radius: .5rem;
}

button:hover {
    background-color: blue;
    color: white;
}

